<body>
  <div class="content">
    <h2>DISCLAIMER</h2>
    <p>
      Diese Anwendung nutzt die
      <a class="importantText" href="https://developers.deutschebahn.com/db-api-marketplace/apis/" target="_blank">DB-API</a>,
      um logische Operationen auf die Fahrpläne der Züge anzuwenden, die durch <a class="importantText">Frankfurt-Griesheim</a> fahren.
    </p>
    <p>
      Bitte beachten Sie, dass diese App darauf angewiesen ist, dass die <a class="importantText">Deutsche Bahn</a> so präzise wie möglich ist. <br>
      Züge, die nicht in den Fahrplänen der Deutschen Bahn sichtbar sind, können nicht überwacht werden, was zu ungenauen Prognosen bezüglich der Bahnschranke führen kann.
    </p>
    <p>
      Diese App wird in keiner Weise monetarisiert oder verdient Geld. <br>
      Es handelt sich um ein reines Freizeit- und Hobbyprojekt, um den Anwohnern zu helfen, die (meist nervige) Bahnschranke besser zu überqueren.
    </p>
  </div>
</body>
