/*Color Palette: German*/
:root {
  --header-footer-bg: #1a1a1a;
  --font-color: aliceblue;
  --open-bg: #20bf6b;
  --closed-bg: #fc5c65;
  --link-hover: #78c5ff;
}

header{
  font-family: 'Roboto Mono', monospace;
  background-color: var(--header-footer-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 10%;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  height: 100%;
  color: var(--font-color);
  min-height: 90vh;
}

footer{
  font-family: 'Quicksand', monospace;
  background-color: var(--header-footer-bg);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
}

.open{
  background-color: var(--open-bg);
  height: 80%;
}

.closed{
  background-color: var(--closed-bg);
  height: 80%;
}
