/*Color Palette: German*/
:root {
  --header-footer-bg: #1a1a1a;
  --font-color: aliceblue;
  --open-bg: #20bf6b;
  --closed-bg: #fc5c65;
  --link-hover: #78c5ff;
}

html{
  height: 100vh;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  color: var(--font-color);
  height: 84vh;
  overflow-y: auto;
}

a{
  color: var(--font-color);
  text-decoration: none;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: 100%;
}

p{
  max-width: 75vw;
}

.importantText{
  color: red;
}
