/*Color Palette: German*/
:root {
  --header-footer-bg: #1a1a1a;
  --header-footer-color: aliceblue;
  --open-bg: #20bf6b;
  --closed-bg: #fc5c65;
  --link-hover: #78c5ff;
}

header{
  font-family: 'Roboto Mono', monospace;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-color);
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body {
  margin: 0;
  height: 90%;
}

.open{
  background-color: var(--open-bg);
  height: 100%;
}

.closed{
  background-color: var(--closed-bg);
  height: 100%;
}

footer{
  font-family: 'Quicksand', monospace;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
