#isOpen{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #1a1a1a;
  font-size: 2rem;
}

#whenStatusChange{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  gap: 0.1em;
}

#icon{
  border: #1a1a1a solid 2px;
  padding: 5px;
  max-height: 250px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon img{
  width: 6em;
  height: 6em;
}

#time{
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 5px;
}

hr{
  width: 80vw;
  border: black 1px solid;
}
