header{
  font-family: 'Roboto Mono', monospace;
  background-color: var(--header-footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 8vh;
}

a{
  color: white;
}

p{
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 450px) {
  p{
    font-size: 1.8rem;
  }
}
