.links {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.links div{
  width: 33.3%;
}

a{
  color: var(--font-color);
  text-decoration: none;
}

a:hover{
  color: var(--link-hover);
}

p{
  font-size: 1.3rem;
}
